<div class="container-fluid">
  <div class="row">
  <div class="card mx-5 col-5">
    <h3 class = "card-header bg-primary">Events created</h3>
    <div class="card-body">
    <% if @user.events_created %>
    <% @user.events_created.each do |event| %>
      <h5 class = "card-title">
        Location: <%= event.location %> Time: <%= event.event_date%>
        <%= link_to "->", event_path(event) %>
      </h5>
      <p class = "card-text ">Description: <%= event.description %> </p>
      <%end%>
    <%end%>
    </div>
  </div>
  <div class="card mx-5 col-5">
    <h3 class = "card-header bg-primary">Events attended</h3>
    <div class="card-body">
    <% @user.events_invited.each do |event| %>
      <h5 class = "card-title">
        Location: <%= event.location %> Time: <%= event.event_date%>
        <%= link_to "->", event_path(event) %>
      </h5>
      <p class = "card-text ">Description: <%= event.description %> </p>
    <%end%>
  </div>
  </div>
</div>
