<div class="card w-50 mx-auto mb-3">
  <h4 class = "card-header bg-primary">Create Event</h4>
  <div class="card-body">
    <%= form_for(@event) do |f| %>
      <h5 class = "card-title"><%= f.label :description %></h5>
      <p class = "card-text"> <%= f.text_area :description %> </p>
      <h5 class = "card-title"><%= f.label :event_date %></h5>
      <p class = "card-text"> <%= f.date_field :event_date %> </p>
      <h5 class = "card-title"><%= f.label :location %></h5>
      <p class = "card-text"> <%= f.text_field :location %> </p>
      <%= f.submit "Create" %>
    <%end%>
  </div>
  </div>
